/* style.css */

h1 {
  font-family: 'Anton', sans-serif;
  color: rgb(0, 38, 255);
  font-weight: 900;
  font-size: 55px;
  opacity: 0.7;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 600;
  font-size: 20px;
  opacity:1;
}

h3 {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-weight: 900;
  font-size: 18px;
  background-color: black;
  opacity: 1;
}

h4 {
  font-family:'Roboto', sans-serif;
  color: white;
  font-weight: 900;
  font-size: 30px;
  opacity: 1;
  }

h5 {
  font-family:'Shrikhand', cursive;
  color: white;
  font-weight: 900;
  font-size: 18px;
  background: black;
  opacity: 1;
}

p {
  font-family:'Roboto', sans-serif;
  color: rgb(237, 136, 42);
  font-weight: 700;
  font-size: 18px;
  background: white;
  opacity: 0.7;
  text-align: center;
}

a {
  font-family:'Anton', sans sans-serif;
  color:rgb(0, 38, 255);
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

.container{
  align-content: center;
  justify-content: center;

}

.banner{
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/Image background meuble.jpeg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color:rgb(0, 38, 255);
  font-size: 50px;
  margin: 0px;
}

.banner h4 {
 margin: 20px;
}

.button-blue {
  background-color: rgb(0, 38, 255);
  color: white;
  padding: 16px 48px;
  border-radius: 50px;
  display: inline-block;
}

.button-blue:hover{
  background-color: #0D1EC6;
  color: white;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
  border-radius: 5px;
  width: 200px;
  text-align: center;
  padding: 25px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 100px;
}

.footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

.cards {
  margin-left: 75px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;

  justify-content: center;
}

.footer h5 {
  color: white;
}
/* Write some CSS below */

#menu {
 display: flex;
 padding-top:5px;
 padding-bottom: 5px;
 justify content: space-around;
 background-color: black;
}

#menu li {
  list-style-type: none;
}

.bouton {

display : inline-block;
min-width: 260px;
margin: 0,5rem;
padding:  5px 5px;
text-align: center;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: 400px;
    justify-content: center;
  }
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }


@media (min-width: 800px) {
  .container {
    width: 600px;
  }

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }

#oui {
  background-color: black;
  }

