.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  width: 200px;
}

@media (max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

.card > img {
  height :100px;
  width:100px;
}

@media (max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}
